@using TingStore.Client.Areas.Admin.Models.Products
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ProductResponse>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "trash";
}
@{
    string sortPage = @ViewBag.sortPage;
    string vbCategory = @ViewBag.vbCategory;
    string categoryText = string.IsNullOrEmpty(vbCategory) ? "Default" : vbCategory;
}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center gap-1">
                <h4 class="card-title flex-grow-1">All Product List Has been deleted</h4>
            </div>
            <div>
                <div class="table-responsive">
                    <table class="table align-middle mb-0 table-hover table-centered">
                        <thead class="bg-light-subtle">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="form-check ms-1">
                                        <input type="checkbox" class="form-check-input" id="customCheck1">
                                        <label class="form-check-label" for="customCheck1"></label>
                                    </div>
                                </th>
                                <th>Product Name & Size</th>
                                <th>Price</th>
                                <th>Stock</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="form-check ms-1">
                                            <input type="checkbox" class="form-check-input" id="customCheck2">
                                            <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center gap-2">
                                            <div
                                                class="rounded bg-light avatar-md d-flex align-items-center justify-content-center">
                                                <img src="@item.ProductImage" alt="" class="avatar-md">
                                            </div>
                                            <div>
                                                <a asp-action="ProductDetail" asp-route-id="@item.Id" class="text-dark fw-medium fs-15">@item.Name</a>
                                                @if (!item.IsActive)
                                                {
                                                    <p class="text-danger mb-0 mt-1 fs-13">Has been deleted</p>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                    <td>@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}", item.Price)đ
                                    </td>
                                    <td>
                                        <p class="mb-1 text-muted"><span class="text-dark fw-medium">@item.Stock Item</span>
                                            Left</p>
                                    </td>
                                    <td> @item.CategoryId</td>
                                    <td>
                                        <div class="d-flex gap-2">
                                            <a asp-action="RestoreProduct" asp-route-id="@item.Id" class="btn btn-light btn-sm"><i class="fa-solid fa-trash-arrow-up"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- end table-responsive -->
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        @if (TempData["SuccessMessage"] != null)
        {
            @:Swal.fire({
            @:    icon: 'success',
            @:    title: 'Success!',
            @:    text: '@TempData["SuccessMessage"]',
            @:    confirmButtonText: 'OK'
            @:});
        }
        @if (TempData["ErrorMessage"] != null)
        {
            @:Swal.fire({
            @:icon: 'error',
            @:title: 'Oops...',
            @:text: '@TempData["ErrorMessage"]',
            @:confirmButtonText: 'OK'
            @:});
        }
        });
    </script>
}
