@using System.Text.Json
@using System.Globalization
@using TingStore.Client.Areas.User.Models.Home
@using TingStore.Client.Areas.User.Models.Products
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    IReadOnlyList<ProductResponse> productResponsesList = Model.Products ?? new List<ProductResponse>();

    ProductDescription getDescription(string id)
    {
        foreach (var item in productResponsesList)
        {
            if (item.Id == id)
            {
                return JsonSerializer.Deserialize<ProductDescription>(item.Description, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
            }
        }
        return null;
    }
}

<section class="hero-banner py-24">
    <div class="container-fluid">
        <div class="row row-gap-3">
            <div class="col-xl-8 col-lg-12">
                <div class="banner-right">
                    <div class="banner-content-right">
                        <div class="text-box">
                            <h6 class="color-ter mb-32 d-sm-block d-none">NEW ARRIVALS</h6>
                            <h2 class="white fw-600 mb-8">SAMSUNG GALAXY <br> <span class="color-ter">S25 Ultra&nbsp;</span></h2>
                            <h6 class="white mb-32">Limited Time: Online Only!</h6>
                            <a href="@Url.Action("Shop", "Product", new { area = "User" })" class="cus-btn-3 sec">Shop Now</a>
                        </div>
                        <div class="image-area">
                            <img src="~/user/assets/media/banner/s25u.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="d-xl-block d-sm-flex gap-16">
                    <div class="banner-right mb-16">
                        <div class="banner-content-right v-2">
                            <div class="text-box">
                                <h5 class="fw-500 mb-16"><a href="shop-detail.html" class="white">Samsung <br> <span class="color-ter">S24&nbsp;</span>Ultra 256GB</a></h5>
                                <p class="white fw-500">Limited Time: Online Only!</p>
                            </div>
                            <div class="image-area">
                                <a href="shop-detail.html"><img src="~/user/assets/media/banner/banner-sub-2.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="banner-right">
                        <div class="banner-content-right v-3">
                            <div class="text-box">
                                <h5 class="fw-500 mb-16"><a href="shop-detail.html" class="white">iPadMini <br> <span class="color-ter">10 Inch&nbsp;</span>iPad Mini Pro</a></h5>
                                <p class="white fw-500">Limited Time: Online Only!</p>
                            </div>
                            <div class="image-area">
                                <a href="shop-detail.html"><img src="~/user/assets/media/banner/iphone16prm.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HERO BANNER END -->
<!-- Product Categories Start -->
<div class="categories-sec py-24">
    <div class="container-fluid">
        <div class="row">
            <div class="categories-wrapper">
                @{
                    var avatars = new string[]
                    {
                "samsung.png", "Iphone.png", "Vivo.png", "Nokia.png", "Infinix.png", "Oppo.png", "Oneplus.png", "Realme.png", "Xiaomi.png"
                    };
                    int index = 0;
                }
                @if (Model != null && Model.Categories != null && Model.Categories.Any())
                {
                    @foreach (var cat in Model.Categories)
                    {
                        <a href="shop-grid-sidebar-1.html" class="category-block">
                            <div class="image-box mb-12">
                                <img src="~/user/assets/media/brands/@avatars[index % avatars.Length]" alt="@cat.Name">
                            </div>
                            <p class="fw-500 mb-4p">@cat.Name</p>
                            <p class="dark-gray">@cat.ProductCount Product</p>
                        </a>
                        {
                            index++;
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- Product Categories End -->
<!-- Featured Product Start -->
<section class="featured-product-sec py-40 bg-lightest-gray">
    <div class="container-fluid">
        <div class="row row-gap-3">
            <div class="col-xl-3">
                <a href="shop-grid-2.html" class="main-card text-center">
                    <h4 class="fw-500 white mb-32">Special Offer</h4>   
                    <div class="image mb-32">
                        <img src="~/user/assets/media/products/product-10.png" alt="">
                    </div>
                    <h5 class="fw-500 white mb-20 text-center">Aero Control Pro Joysticks</h5>
                    <h5 class="fw-500 white text-center">$120.00</h5>
                </a>
            </div>
            <div class="col-xl-9">
                <div class="top-bar mb-16">
                    <h5>Feature Products</h5>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all"
                                    type="button" role="tab" aria-controls="all" aria-selected="true">
                                All Products
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="samsung-tab" data-bs-toggle="tab" data-bs-target="#samsung" type="button"
                                    role="tab" aria-controls="samsung" aria-selected="false">
                                Samsung
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="iPhone-tab" data-bs-toggle="tab" data-bs-target="#iPhone" type="button"
                                    role="tab" aria-controls="iPhone" aria-selected="false">
                                iPhone
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="vivo-tab" data-bs-toggle="tab" data-bs-target="#vivo" type="button"
                                    role="tab" aria-controls="vivo" aria-selected="false">
                                Vivo
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="oppo-tab" data-bs-toggle="tab" data-bs-target="#oppo" type="button"
                                    role="tab" aria-controls="oppo" aria-selected="false">
                                Oppo
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content " id="myTabContent">
                    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                        <div class="row row-gap-3">
                            @if (Model.Products != null && Model.Products.Any())
                            {
                                @foreach (var product in Model.Products.OrderBy(x => Guid.NewGuid()).Take(4))
                                {
                                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                                        <div class="featured-product-card bg-white br-10 ">
                                            <div class="image-box mb-16">
                                                <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"><img src="@product.ProductImage" class="product-image" alt="@product.Name"></a>
                                                <div class="side-icons">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-itemid="=@product.Id" class="btn" data-bs-toggle="modal" data-bs-target="#productQuickView_@product.Id">
                                                                <img src="~/user/assets/media/icons/eye.png" alt="">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-desc">
                                                <h6 class="product-title mb-8"><a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h6>
                                                <div class="text mb-12">
                                                    <p class="light-gray">@getDescription(product.Id).Description</p>
                                                </div>
                                                <div class="rating-star mb-16 bg-white">
                                                    @{
                                                        double averageRating = ViewBag.AverageRatings != null && ViewBag.AverageRatings.ContainsKey(product.Id) ? Convert.ToDouble(ViewBag.AverageRatings[product.Id]) : 0.0;
                                                        int fullStars = (int)Math.Floor(averageRating);
                                                        bool hasHalfStar = (averageRating - fullStars) >= 0.5;
                                                        int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);

                                                        // Lấy số lượng review từ ViewBag.ReviewCounts
                                                        int reviewCount = ViewBag.ReviewCounts != null && ViewBag.ReviewCounts.ContainsKey(product.Id)
                                                        ? ViewBag.ReviewCounts[product.Id]
                                                        : 0;
                                                    }

                                                    <h5 class="color-sec">
                                                        @for (int i = 0; i < fullStars; i++)
                                                        {
                                                            <span class="text-warning">★</span>
                                                        }
                                                        @if (hasHalfStar)
                                                        {
                                                            <span class="text-warning half-star">★</span>
                                                        }
                                                        @for (int i = 0; i < emptyStars; i++)
                                                        {
                                                            <span class="text-secondary">★</span>
                                                        }
                                                        <span class="text-16 fw-400 dark-black">(@reviewCount Reviews)</span>
                                                    </h5>
                                                    <h6 class="text-center">
                                                        <span class="text-decoration-line-through light-gray text-danger">
                                                            @((product.Price * 1.2m).ToString("C", new CultureInfo("vi-VN")))
                                                        </span>
                                                        <br />
                                                        @product.Price.ToString("C", new CultureInfo("vi-VN"))
                                                    </h6>
                                                </div>
 
                                                <button class="cus-btn-2 w-100 add-to-cart-btn"
                                                        data-product-id="@product.Id"
                                                        data-product-name="@product.Name"
                                                        data-price="@product.Price"
                                                        data-image="@product.ProductImage">
                                                    Add to Cart
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="text-center w-100">No products available.</p>
                            }

                        </div>
                    </div>
                    <div class="tab-pane fade" id="samsung" role="tabpanel" aria-labelledby="samsung-tab">
                        <div class="row row-gap-3">
                            @if (Model.Products != null && Model.Products.Any(x => x.CategoryId == "Samsung"))
                            {
                                @foreach (var product in Model.Products.Where(x => x.CategoryId == "Samsung").OrderBy(x => Guid.NewGuid()).Take(4))
                                {
                                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                                        <div class="featured-product-card bg-white br-10 ">
                                            <div class="image-box mb-16">
                                                <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"><img src="@product.ProductImage" class="product-image" alt="@product.Name"></a>
                                                <div class="side-icons">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-itemid="=@product.Id" class="btn" data-bs-toggle="modal" data-bs-target="#productQuickView_@product.Id">
                                                                <img src="~/user/assets/media/icons/eye.png" alt="">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-desc">
                                                <h6 class="product-title mb-8"><a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h6>
                                                <div class="text mb-12">
                                                    <p class="light-gray">@getDescription(product.Id).Description</p>
                                                </div>
                                                <div class="rating-star mb-16 bg-white">
                                                    @{
                                                        double averageRating = ViewBag.AverageRatings != null && ViewBag.AverageRatings.ContainsKey(product.Id) ? Convert.ToDouble(ViewBag.AverageRatings[product.Id]) : 0.0;
                                                        int fullStars = (int)Math.Floor(averageRating);
                                                        bool hasHalfStar = (averageRating - fullStars) >= 0.5;
                                                        int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);

                                                        // Lấy số lượng review từ ViewBag.ReviewCounts
                                                        int reviewCount = ViewBag.ReviewCounts != null && ViewBag.ReviewCounts.ContainsKey(product.Id)
                                                        ? ViewBag.ReviewCounts[product.Id]
                                                        : 0;
                                                    }

                                                    <h5 class="color-sec">
                                                        @for (int i = 0; i < fullStars; i++)
                                                        {
                                                            <span class="text-warning">★</span>
                                                        }
                                                        @if (hasHalfStar)
                                                        {
                                                            <span class="text-warning half-star">★</span>
                                                        }
                                                        @for (int i = 0; i < emptyStars; i++)
                                                        {
                                                            <span class="text-secondary">★</span>
                                                        }
                                                        <span class="text-16 fw-400 dark-black">(@reviewCount Reviews)</span>
                                                    </h5>
                                                    <h6 class="text-center">
                                                        <span class="text-decoration-line-through light-gray text-danger">
                                                            @((product.Price * 1.2m).ToString("C", new CultureInfo("vi-VN")))
                                                        </span>
                                                        <br />
                                                        @product.Price.ToString("C", new CultureInfo("vi-VN"))
                                                    </h6>
                                                </div>
                                                <a id="addToCartForm" class="cus-btn-2 w-100">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="text-center w-100">No products available.</p>
                            }

                        </div>
                    </div>
                    <div class="tab-pane fade" id="iPhone" role="tabpanel" aria-labelledby="keyboard-tab">
                        <div class="row row-gap-3">
                            @if (Model.Products != null && Model.Products.Any(x => x.CategoryId == "iPhone"))
                            {
                                @foreach (var product in Model.Products.Where(x => x.CategoryId == "iPhone").OrderBy(x => Guid.NewGuid()).Take(4))
                                {
                                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                                        <div class="featured-product-card bg-white br-10 ">
                                            <div class="image-box mb-16">
                                                <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"><img src="@product.ProductImage" class="product-image" alt="@product.Name"></a>
                                                <div class="side-icons">
                                                    <ul class="list-unstyled">
                                                        
                                                        <li>
                                                            <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-itemid="=@product.Id" class="btn" data-bs-toggle="modal" data-bs-target="#productQuickView_@product.Id">
                                                                <img src="~/user/assets/media/icons/eye.png" alt="">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-desc">
                                                <h6 class="product-title mb-8"><a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h6>
                                                <div class="text mb-12">
                                                    <p class="light-gray">@getDescription(product.Id).Description</p>
                                                </div>
                                                <div class="rating-star mb-16 bg-white">
                                                    @{
                                                        double averageRating = ViewBag.AverageRatings != null && ViewBag.AverageRatings.ContainsKey(product.Id) ? Convert.ToDouble(ViewBag.AverageRatings[product.Id]) : 0.0;
                                                        int fullStars = (int)Math.Floor(averageRating);
                                                        bool hasHalfStar = (averageRating - fullStars) >= 0.5;
                                                        int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);

                                                        // Lấy số lượng review từ ViewBag.ReviewCounts
                                                        int reviewCount = ViewBag.ReviewCounts != null && ViewBag.ReviewCounts.ContainsKey(product.Id)
                                                        ? ViewBag.ReviewCounts[product.Id]
                                                        : 0;
                                                    }

                                                    <h5 class="color-sec">
                                                        @for (int i = 0; i < fullStars; i++)
                                                        {
                                                            <span class="text-warning">★</span>
                                                        }
                                                        @if (hasHalfStar)
                                                        {
                                                            <span class="text-warning half-star">★</span>
                                                        }
                                                        @for (int i = 0; i < emptyStars; i++)
                                                        {
                                                            <span class="text-secondary">★</span>
                                                        }
                                                        <span class="text-16 fw-400 dark-black">(@reviewCount Reviews)</span>
                                                    </h5>
                                                    <h6 class="text-center">
                                                        <span class="text-decoration-line-through light-gray text-danger">
                                                            @((product.Price * 1.2m).ToString("C", new CultureInfo("vi-VN")))
                                                        </span>
                                                        <br />
                                                        @product.Price.ToString("C", new CultureInfo("vi-VN"))
                                                    </h6>
                                                </div>
                                                <button class="cus-btn-2 w-100 add-to-cart-btn"
                                                        data-product-id="@product.Id"
                                                        data-product-name="@product.Name"
                                                        data-price="@product.Price"
                                                        data-image="@product.ProductImage">
                                                    Add to Cart
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="text-center w-100">No products available.</p>
                            }

                        </div>
                    </div>
                    <div class="tab-pane fade" id="vivo" role="tabpanel" aria-labelledby="mouse-tab">
                        <div class="row row-gap-3">
                            @if (Model.Products != null && Model.Products.Any(x => x.CategoryId == "Vivo"))
                            {
                                @foreach (var product in Model.Products.Where(x => x.CategoryId == "Vivo").OrderBy(x => Guid.NewGuid()).Take(4))
                                {
                                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                                        <div class="featured-product-card bg-white br-10 ">
                                            <div class="image-box mb-16">
                                                <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"><img src="@product.ProductImage" class="product-image" alt="@product.Name"></a>
                                                <div class="side-icons">
                                                    <ul class="list-unstyled">
                                                        
                                                        <li>
                                                            <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-itemid="=@product.Id" class="btn" data-bs-toggle="modal" data-bs-target="#productQuickView_@product.Id">
                                                                <img src="~/user/assets/media/icons/eye.png" alt="">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-desc">
                                                <h6 class="product-title mb-8"><a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h6>
                                                <div class="text mb-12">
                                                    <p class="light-gray">@getDescription(product.Id).Description</p>
                                                </div>
                                                <div class="rating-star mb-16 bg-white">
                                                    @{
                                                        double averageRating = ViewBag.AverageRatings != null && ViewBag.AverageRatings.ContainsKey(product.Id) ? Convert.ToDouble(ViewBag.AverageRatings[product.Id]) : 0.0;
                                                        int fullStars = (int)Math.Floor(averageRating);
                                                        bool hasHalfStar = (averageRating - fullStars) >= 0.5;
                                                        int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);

                                                        // Lấy số lượng review từ ViewBag.ReviewCounts
                                                        int reviewCount = ViewBag.ReviewCounts != null && ViewBag.ReviewCounts.ContainsKey(product.Id)
                                                        ? ViewBag.ReviewCounts[product.Id]
                                                        : 0;
                                                    }

                                                    <h5 class="color-sec">
                                                        @for (int i = 0; i < fullStars; i++)
                                                        {
                                                            <span class="text-warning">★</span>
                                                        }
                                                        @if (hasHalfStar)
                                                        {
                                                            <span class="text-warning half-star">★</span>
                                                        }
                                                        @for (int i = 0; i < emptyStars; i++)
                                                        {
                                                            <span class="text-secondary">★</span>
                                                        }
                                                        <span class="text-16 fw-400 dark-black">(@reviewCount Reviews)</span>
                                                    </h5>
                                                    <h6 class="text-center">
                                                        <span class="text-decoration-line-through light-gray text-danger">
                                                            @((product.Price * 1.2m).ToString("C", new CultureInfo("vi-VN")))
                                                        </span>
                                                        <br />
                                                        @product.Price.ToString("C", new CultureInfo("vi-VN"))
                                                    </h6>
                                                </div>
                                                <button class="cus-btn-2 w-100 add-to-cart-btn"
                                                        data-product-id="@product.Id"
                                                        data-product-name="@product.Name"
                                                        data-price="@product.Price"
                                                        data-image="@product.ProductImage">
                                                    Add to Cart
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="text-center w-100">No products available.</p>
                            }

                        </div>
                    </div>
                    <div class="tab-pane fade" id="oppo" role="tabpanel" aria-labelledby="headphone-tab">
                        <div class="row row-gap-3">
                            @if (Model.Products != null && Model.Products.Any(x => x.CategoryId == "Oppo"))
                            {
                                @foreach (var product in Model.Products.Where(x => x.CategoryId == "Oppo").OrderBy(x => Guid.NewGuid()).Take(4))
                                {
                                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6">
                                        <div class="featured-product-card bg-white br-10 ">
                                            <div class="image-box mb-16">
                                                <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"><img src="@product.ProductImage" class="product-image" alt="@product.Name"></a>
                                                <div class="side-icons">
                                                    <ul class="list-unstyled">
                                                        
                                                        <li>
                                                            <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-itemid="=@product.Id" class="btn" data-bs-toggle="modal" data-bs-target="#productQuickView_@product.Id">
                                                                <img src="~/user/assets/media/icons/eye.png" alt="">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-desc">
                                                <h6 class="product-title mb-8"><a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h6>
                                                <div class="text mb-12">
                                                    <p class="light-gray">@getDescription(product.Id).Description</p>
                                                </div>
                                                <div class="rating-star mb-16 bg-white">
                                                    @{
                                                        double averageRating = ViewBag.AverageRatings != null && ViewBag.AverageRatings.ContainsKey(product.Id) ? Convert.ToDouble(ViewBag.AverageRatings[product.Id]) : 0.0;
                                                        int fullStars = (int)Math.Floor(averageRating);
                                                        bool hasHalfStar = (averageRating - fullStars) >= 0.5;
                                                        int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);

                                                        // Lấy số lượng review từ ViewBag.ReviewCounts
                                                        int reviewCount = ViewBag.ReviewCounts != null && ViewBag.ReviewCounts.ContainsKey(product.Id)
                                                        ? ViewBag.ReviewCounts[product.Id]
                                                        : 0;
                                                    }

                                                    <h5 class="color-sec">
                                                        @for (int i = 0; i < fullStars; i++)
                                                        {
                                                            <span class="text-warning">★</span>
                                                        }
                                                        @if (hasHalfStar)
                                                        {
                                                            <span class="text-warning half-star">★</span>
                                                        }
                                                        @for (int i = 0; i < emptyStars; i++)
                                                        {
                                                            <span class="text-secondary">★</span>
                                                        }
                                                        <span class="text-16 fw-400 dark-black">(@reviewCount Reviews)</span>
                                                    </h5>
                                                    <h6 class="text-center">
                                                        <span class="text-decoration-line-through light-gray text-danger">
                                                            @((product.Price * 1.2m).ToString("C", new CultureInfo("vi-VN")))
                                                        </span>
                                                        <br />
                                                        @product.Price.ToString("C", new CultureInfo("vi-VN"))
                                                    </h6>
                                                </div>
                                                <button class="cus-btn-2 w-100 add-to-cart-btn"
                                                        data-product-id="@product.Id"
                                                        data-product-name="@product.Name"
                                                        data-price="@product.Price"
                                                        data-image="@product.ProductImage">
                                                    Add to Cart
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p class="text-center w-100">No products available.</p>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Product End -->
<!-- Popular Product Start -->
<section class="popular-product bg-lightest-gray pt-24 pb-40">
    <div class="container-fluid">
        <div class="top-bar mb-16">
            <h5>Popular Products</h5>
            <ul class="nav nav-tabs" id="myProduct" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="all-product-tab" data-bs-toggle="tab" data-bs-target="#all-product"
                            type="button" role="tab" aria-controls="all-product" aria-selected="true">
                        All Products
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="samsung-pro-tab" data-bs-toggle="tab" data-bs-target="#samsung-pro" type="button"
                            role="tab" aria-controls="samsung-pro" aria-selected="false">
                        Samsung
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="iPhone-pro-tab" data-bs-toggle="tab" data-bs-target="#iPhone-pro" type="button"
                            role="tab" aria-controls="iPhone-pro" aria-selected="false">
                        iPhone
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="vivo-pro-tab" data-bs-toggle="tab" data-bs-target="#vivo-pro" type="button"
                            role="tab" aria-controls="vivo-pro" aria-selected="false">
                        Vivo
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="oppo-pro-tab" data-bs-toggle="tab" data-bs-target="#oppo-pro" type="button"
                            role="tab" aria-controls="oppo-pro" aria-selected="false">
                        Oppo
                    </button>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="myProductContent">
            <div class="tab-pane fa de show active" id="all-product" role="tabpanel" aria-labelledby="all-product-tab">
                <div class="row row-gap-3">
                    @if (Model.Products != null && Model.Products.Any())
                    {
                        @foreach (var product in Model.Products.OrderBy(x => Guid.NewGuid()).Take(6))
                        {
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6">
                                <div class="featured-product-card bg-white br-10">
                                    <div class="image-box mb-16">
                                        <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"><img src="@product.ProductImage" class="product-image" alt="@product.Name"></a>
                                        <div class="side-icons">
                                            <ul class="list-unstyled">
                                                
                                                <li>
                                                    <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-itemid="=@product.Id" class="btn" data-bs-toggle="modal" data-bs-target="#productQuickView_@product.Id">
                                                        <img src="~/user/assets/media/icons/eye.png" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-desc">
                                        <h6 class="product-title mb-8"><a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h6>
                                        <div class="text mb-12">
                                            <p class="light-gray">@getDescription(product.Id).Description</p>
                                        </div>
                                        <div class="rating-star mb-16 bg-white">
                                            @{
                                                double averageRating = ViewBag.AverageRatings != null && ViewBag.AverageRatings.ContainsKey(product.Id) ? Convert.ToDouble(ViewBag.AverageRatings[product.Id]) : 0.0;
                                                int fullStars = (int)Math.Floor(averageRating);
                                                bool hasHalfStar = (averageRating - fullStars) >= 0.5;
                                                int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);

                                                // Lấy số lượng review từ ViewBag.ReviewCounts
                                                int reviewCount = ViewBag.ReviewCounts != null && ViewBag.ReviewCounts.ContainsKey(product.Id)
                                                ? ViewBag.ReviewCounts[product.Id]
                                                : 0;
                                            }

                                            <h5 class="color-sec">
                                                @for (int i = 0; i < fullStars; i++)
                                                {
                                                    <span class="text-warning">★</span>
                                                }
                                                @if (hasHalfStar)
                                                {
                                                    <span class="text-warning half-star">★</span>
                                                }
                                                @for (int i = 0; i < emptyStars; i++)
                                                {
                                                    <span class="text-secondary">★</span>
                                                }
                                                <span class="text-16 fw-400 dark-black">(@reviewCount Reviews)</span>
                                            </h5>
                                            <h6 class="text-center">
                                                <span class="text-decoration-line-through light-gray text-danger">
                                                    @((product.Price * 1.2m).ToString("C", new CultureInfo("vi-VN")))
                                                </span>
                                                <br />
                                                @product.Price.ToString("C", new CultureInfo("vi-VN"))
                                            </h6>
                                        </div>
      
                                        <button class="cus-btn-2 w-100 add-to-cart-btn" 
            data-product-id="@product.Id" 
            data-product-name="@product.Name" 
            data-price="@product.Price" 
            data-image="@product.ProductImage">
        Add to Cart
    </button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="text-center w-100">No products available.</p>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="samsung-pro" role="tabpanel" aria-labelledby="samsung-pro-tab">
                <div class="row row-gap-3">
                    @if (Model.Products != null && Model.Products.Any(x => x.CategoryId == "Samsung"))
                    {
                        @foreach (var product in Model.Products.Where(x => x.CategoryId == "Samsung").OrderBy(x => Guid.NewGuid()).Take(6))
                        {
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6">
                                <div class="featured-product-card bg-white br-10">
                                    <div class="image-box mb-16">
                                        <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"><img src="@product.ProductImage" class="product-image" alt="@product.Name"></a>
                                        <div class="side-icons">
                                            <ul class="list-unstyled">
                                               
                                                <li>
                                                    <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-itemid="=@product.Id" class="btn" data-bs-toggle="modal" data-bs-target="#productQuickView_@product.Id">
                                                        <img src="~/user/assets/media/icons/eye.png" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-desc">
                                        <h6 class="product-title mb-8"><a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h6>
                                        <div class="text mb-12">
                                            <p class="light-gray">@getDescription(product.Id).Description</p>
                                        </div>
                                        <div class="rating-star mb-16 bg-white">
                                            @{
                                                double averageRating = ViewBag.AverageRatings != null && ViewBag.AverageRatings.ContainsKey(product.Id) ? Convert.ToDouble(ViewBag.AverageRatings[product.Id]) : 0.0;
                                                int fullStars = (int)Math.Floor(averageRating);
                                                bool hasHalfStar = (averageRating - fullStars) >= 0.5;
                                                int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);

                                                // Lấy số lượng review từ ViewBag.ReviewCounts
                                                int reviewCount = ViewBag.ReviewCounts != null && ViewBag.ReviewCounts.ContainsKey(product.Id)
                                                ? ViewBag.ReviewCounts[product.Id]
                                                : 0;
                                            }

                                            <h5 class="color-sec">
                                                @for (int i = 0; i < fullStars; i++)
                                                {
                                                    <span class="text-warning">★</span>
                                                }
                                                @if (hasHalfStar)
                                                {
                                                    <span class="text-warning half-star">★</span>
                                                }
                                                @for (int i = 0; i < emptyStars; i++)
                                                {
                                                    <span class="text-secondary">★</span>
                                                }
                                                <span class="text-16 fw-400 dark-black">(@reviewCount Reviews)</span>
                                            </h5>
                                            <h6 class="text-center">
                                                <span class="text-decoration-line-through light-gray text-danger">
                                                    @((product.Price * 1.2m).ToString("C", new CultureInfo("vi-VN")))
                                                </span>
                                                <br />
                                                @product.Price.ToString("C", new CultureInfo("vi-VN"))
                                            </h6>
                                        </div>

                                        <button class="cus-btn-2 w-100 add-to-cart-btn"
                                                data-product-id="@product.Id"
                                                data-product-name="@product.Name"
                                                data-price="@product.Price"
                                                data-image="@product.ProductImage">
                                            Add to Cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="text-center w-100">No products available.</p>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="iPhone-pro" role="tabpanel" aria-labelledby="iPhone-pro-tab">
                <div class="row row-gap-3">
                    @if (Model.Products != null && Model.Products.Any(x => x.CategoryId == "iPhone"))
                    {
                        @foreach (var product in Model.Products.Where(x => x.CategoryId == "iPhone").OrderBy(x => Guid.NewGuid()).Take(6))
                        {
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6">
                                <div class="featured-product-card bg-white br-10">
                                    <div class="image-box mb-16">
                                        <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"><img src="@product.ProductImage" class="product-image" alt="@product.Name"></a>
                                        <div class="side-icons">
                                            <ul class="list-unstyled">
                                                
                                                <li>
                                                    <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-itemid="=@product.Id" class="btn" data-bs-toggle="modal" data-bs-target="#productQuickView_@product.Id">
                                                        <img src="~/user/assets/media/icons/eye.png" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-desc">
                                        <h6 class="product-title mb-8"><a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h6>
                                        <div class="text mb-12">
                                            <p class="light-gray">@getDescription(product.Id).Description</p>
                                        </div>
                                        <div class="rating-star mb-16 bg-white">
                                            @{
                                                double averageRating = ViewBag.AverageRatings != null && ViewBag.AverageRatings.ContainsKey(product.Id) ? Convert.ToDouble(ViewBag.AverageRatings[product.Id]) : 0.0;
                                                int fullStars = (int)Math.Floor(averageRating);
                                                bool hasHalfStar = (averageRating - fullStars) >= 0.5;
                                                int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);

                                                // Lấy số lượng review từ ViewBag.ReviewCounts
                                                int reviewCount = ViewBag.ReviewCounts != null && ViewBag.ReviewCounts.ContainsKey(product.Id)
                                                ? ViewBag.ReviewCounts[product.Id]
                                                : 0;
                                            }

                                            <h5 class="color-sec">
                                                @for (int i = 0; i < fullStars; i++)
                                                {
                                                    <span class="text-warning">★</span>
                                                }
                                                @if (hasHalfStar)
                                                {
                                                    <span class="text-warning half-star">★</span>
                                                }
                                                @for (int i = 0; i < emptyStars; i++)
                                                {
                                                    <span class="text-secondary">★</span>
                                                }
                                                <span class="text-16 fw-400 dark-black">(@reviewCount Reviews)</span>
                                            </h5>
                                            <h6 class="text-center">
                                                <span class="text-decoration-line-through light-gray text-danger">
                                                    @((product.Price * 1.2m).ToString("C", new CultureInfo("vi-VN")))
                                                </span>
                                                <br />
                                                @product.Price.ToString("C", new CultureInfo("vi-VN"))
                                            </h6>
                                        </div>
                                        <button class="cus-btn-2 w-100 add-to-cart-btn"
                                                data-product-id="@product.Id"
                                                data-product-name="@product.Name"
                                                data-price="@product.Price"
                                                data-image="@product.ProductImage">
                                            Add to Cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="text-center w-100">No products available.</p>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="vivo-pro" role="tabpanel" aria-labelledby="vivo-pro-tab">
                <div class="row row-gap-3">
                    @if (Model.Products != null && Model.Products.Any(x => x.CategoryId == "Vivo"))
                    {
                        @foreach (var product in Model.Products.Where(x => x.CategoryId == "Vivo").OrderBy(x => Guid.NewGuid()).Take(6))
                        {
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6">
                                <div class="featured-product-card bg-white br-10">
                                    <div class="image-box mb-16">
                                        <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"><img src="@product.ProductImage" class="product-image" alt="@product.Name"></a>
                                        <div class="side-icons">
                                            <ul class="list-unstyled">
                                                
                                                <li>
                                                    <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-itemid="=@product.Id" class="btn" data-bs-toggle="modal" data-bs-target="#productQuickView_@product.Id">
                                                        <img src="~/user/assets/media/icons/eye.png" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-desc">
                                        <h6 class="product-title mb-8"><a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h6>
                                        <div class="text mb-12">
                                            <p class="light-gray">@getDescription(product.Id).Description</p>
                                        </div>
                                        <div class="rating-star mb-16 bg-white">
                                            @{
                                                double averageRating = ViewBag.AverageRatings != null && ViewBag.AverageRatings.ContainsKey(product.Id) ? Convert.ToDouble(ViewBag.AverageRatings[product.Id]) : 0.0;
                                                int fullStars = (int)Math.Floor(averageRating);
                                                bool hasHalfStar = (averageRating - fullStars) >= 0.5;
                                                int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);

                                                // Lấy số lượng review từ ViewBag.ReviewCounts
                                                int reviewCount = ViewBag.ReviewCounts != null && ViewBag.ReviewCounts.ContainsKey(product.Id)
                                                ? ViewBag.ReviewCounts[product.Id]
                                                : 0;
                                            }

                                            <h5 class="color-sec">
                                                @for (int i = 0; i < fullStars; i++)
                                                {
                                                    <span class="text-warning">★</span>
                                                }
                                                @if (hasHalfStar)
                                                {
                                                    <span class="text-warning half-star">★</span>
                                                }
                                                @for (int i = 0; i < emptyStars; i++)
                                                {
                                                    <span class="text-secondary">★</span>
                                                }
                                                <span class="text-16 fw-400 dark-black">(@reviewCount Reviews)</span>
                                            </h5>
                                            <h6 class="text-center">
                                                <span class="text-decoration-line-through light-gray text-danger">
                                                    @((product.Price * 1.2m).ToString("C", new CultureInfo("vi-VN")))
                                                </span>
                                                <br />
                                                @product.Price.ToString("C", new CultureInfo("vi-VN"))
                                            </h6>
                                        </div>
                                        <a href="cart.html" class="cus-btn-2 w-100">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="text-center w-100">No products available.</p>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="oppo-pro" role="tabpanel" aria-labelledby="oppo-pro-tab">
                <div class="row row-gap-3">
                    @if (Model.Products != null && Model.Products.Any(x => x.CategoryId == "Oppo"))
                    {
                        @foreach (var product in Model.Products.Where(x => x.CategoryId == "Oppo").OrderBy(x => Guid.NewGuid()).Take(6))
                        {
                            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6">
                                <div class="featured-product-card bg-white br-10">
                                    <div class="image-box mb-16">
                                        <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"><img src="@product.ProductImage" class="product-image" alt="@product.Name"></a>
                                        <div class="side-icons">
                                            <ul class="list-unstyled">
                                                
                                                <li>
                                                    <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-itemid="=@product.Id" class="btn" data-bs-toggle="modal" data-bs-target="#productQuickView_@product.Id">
                                                        <img src="~/user/assets/media/icons/eye.png" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-desc">
                                        <h6 class="product-title mb-8"><a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h6>
                                        <div class="text mb-12">
                                            <p class="light-gray">@getDescription(product.Id).Description</p>
                                        </div>
                                        <div class="rating-star mb-16 bg-white">
                                            @{
                                                double averageRating = ViewBag.AverageRatings != null && ViewBag.AverageRatings.ContainsKey(product.Id) ? Convert.ToDouble(ViewBag.AverageRatings[product.Id]) : 0.0;
                                                int fullStars = (int)Math.Floor(averageRating);
                                                bool hasHalfStar = (averageRating - fullStars) >= 0.5;
                                                int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);

                                                // Lấy số lượng review từ ViewBag.ReviewCounts
                                                int reviewCount = ViewBag.ReviewCounts != null && ViewBag.ReviewCounts.ContainsKey(product.Id)
                                                ? ViewBag.ReviewCounts[product.Id]
                                                : 0;
                                            }

                                            <h5 class="color-sec">
                                                @for (int i = 0; i < fullStars; i++)
                                                {
                                                    <span class="text-warning">★</span>
                                                }
                                                @if (hasHalfStar)
                                                {
                                                    <span class="text-warning half-star">★</span>
                                                }
                                                @for (int i = 0; i < emptyStars; i++)
                                                {
                                                    <span class="text-secondary">★</span>
                                                }
                                                <span class="text-16 fw-400 dark-black">(@reviewCount Reviews)</span>
                                            </h5>
                                            <h6 class="text-center">
                                                <span class="text-decoration-line-through light-gray text-danger">
                                                    @((product.Price * 1.2m).ToString("C", new CultureInfo("vi-VN")))
                                                </span>
                                                <br />
                                                @product.Price.ToString("C", new CultureInfo("vi-VN"))
                                            </h6>
                                        </div>
                                        <button class="cus-btn-2 w-100 add-to-cart-btn"
                                                data-product-id="@product.Id"
                                                data-product-name="@product.Name"
                                                data-price="@product.Price"
                                                data-image="@product.ProductImage">
                                            Add to Cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p class="text-center w-100">No products available.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Popular Product End -->
<!-- Inner Banner Start -->
<section class="inner-banner">
    <div class="container-fluid">
        <div class="inner-content">
            <div class="inner-text">
                <h2 class="white">Big Saving Await! <br> <span class="color-ter">Shop Now</span>&nbsp;for Unbeatable Deals!</h2>
            </div>
            <div class="inner-image">
                <img src="assets/media/images/banner-image-1.png" alt="">
            </div>
            <div class="inner-image-2">
                <img src="assets/media/images/banner-image-2.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Inner Banner End -->
<!-- Recommended Product Start -->
<section class="recommended-product bg-lightest-gray py-40">
    <div class="container-fluid">
        <div class="top-bar mb-16">
            <h5>Recommended Products</h5>
            <a asp-area="User" asp-controller="Product" asp-action="Shop" class="cus-btn-arrow">
                Show All
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 20 15" fill="none">
                    <path d="M13.3545 14.7476C13.3545 11.7476 16.1545 7.74756 19.3545 7.74756M19.3545 7.74756C17.5212 7.74756 13.3545 6.74756 13.3545 0.747559M19.3545 7.74756H0.354492"
                          stroke="#0C0C0D" stroke-width="2" />
                </svg>
            </a>
        </div>
        <div class="row row-gap-3">
            @if (Model.Products != null && Model.Products.Any())
            {
                @foreach (var product in Model.Products.OrderBy(x => Guid.NewGuid()).Take(12))
                {
                    ProductDescription? des = null;
                    if (!string.IsNullOrEmpty(product.Description))
                    {
                        des = JsonSerializer.Deserialize<ProductDescription>(product.Description);
                    }

                    <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6">
                        <div class="featured-product-card bg-white br-10">
                            <div class="image-box mb-16">
                                <a href="shop-detail.html"><img src="@product.ProductImage" class="product-image" alt="@product.Name"></a>
                                <div class="side-icons">
                                    <ul class="list-unstyled">
                                       
                                        <li>
                                            <a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-itemid="=@product.Id" class="btn" data-bs-toggle="modal" data-bs-target="#productQuickView_@product.Id">
                                                <img src="~/user/assets/media/icons/eye.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-desc">
                                <h6 class="product-title mb-8"><a asp-area="User" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h6>
                                <div class="text mb-12">
                                    <p class="light-gray">@des.Description</p>
                                </div>
                                <div class="rating-star mb-16 bg-white">
                                    @{
                                        double averageRating = ViewBag.AverageRatings != null && ViewBag.AverageRatings.ContainsKey(product.Id) ? Convert.ToDouble(ViewBag.AverageRatings[product.Id]) : 0.0;
                                        int fullStars = (int)Math.Floor(averageRating);
                                        bool hasHalfStar = (averageRating - fullStars) >= 0.5;
                                        int emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0);

                                        // Lấy số lượng review từ ViewBag.ReviewCounts
                                        int reviewCount = ViewBag.ReviewCounts != null && ViewBag.ReviewCounts.ContainsKey(product.Id)
                                        ? ViewBag.ReviewCounts[product.Id]
                                        : 0;
                                    }

                                    <h5 class="color-sec">
                                        @for (int i = 0; i < fullStars; i++)
                                        {
                                            <span class="text-warning">★</span>
                                        }
                                        @if (hasHalfStar)
                                        {
                                            <span class="text-warning half-star">★</span>
                                        }
                                        @for (int i = 0; i < emptyStars; i++)
                                        {
                                            <span class="text-secondary">★</span>
                                        }
                                        <span class="text-16 fw-400 dark-black">(@reviewCount Reviews)</span>
                                    </h5>
                                    <h6 class="text-center">
                                        <span class="text-decoration-line-through light-gray text-danger">
                                            @((product.Price * 1.2m).ToString("C", new CultureInfo("vi-VN")))
                                        </span>
                                        <br />
                                        @product.Price.ToString("C", new CultureInfo("vi-VN"))
                                    </h6>
                                </div>
                                 <button class="cus-btn-2 w-100 add-to-cart-btn"
         data-product-id="@product.Id"
         data-product-name="@product.Name"
         data-price="@product.Price"
         data-image="@product.ProductImage">
     Add to Cart
 </button>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="productQuickView_@product.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="shop-detail">
                                        <div class="detail-wrapper">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="quick-image-box">
                                                        <img src="@product.ProductImage" alt="Image product">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="product-text-container bg-white br-20">
                                                        <div class="close-content text-end">
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <h3 class="fw-600 mb-16">@product.Name</h3>
                                                        <div class="d-flex align-items-center flex-wrap gap-16 mb-24">
                                                            <h5 class="color-sec">
                                                                @for (int i = 0; i < fullStars; i++)
                                                                {
                                                                    <span class="text-warning">★</span>
                                                                }
                                                                @if (hasHalfStar)
                                                                {
                                                                    <span class="text-warning half-star">★</span>
                                                                }
                                                                @for (int i = 0; i < emptyStars; i++)
                                                                {
                                                                    <span class="text-secondary">★</span>
                                                                }
                                                                <span class="text-16 fw-400 dark-black">
                                                                    (@($"{reviewCount} Reviews"))
                                                                </span>
                                                            </h5>

                                                            <div class="vr-line vr-line-2"></div>
                                                            <p class="light-gray">Brand: <span class="color-primary">@getDescription(product.Id).Brand</span></p>
                                                        </div>
                                                        <div class="d-flex align-items-center gap-16 mb-24">
                                                            <p class="light-gray text-decoration-line-through">@((product.Price * 1.2m).ToString("C", new CultureInfo("vi-VN")))</p>
                                                            <h5>@product.Price.ToString("C", new CultureInfo("vi-VN"))</h5>
                                                        </div>
                                                        @{
                                                            var description = getDescription(product.Id).Description;
                                                            var shortDescription = string.Join(" ", description.Split().Take(20)) + (description.Split().Length > 20 ? "..." : "");
                                                        }
                                                        <p class="light-gray mb-24">
                                                            @shortDescription
                                                        </p>
                                                        <div class="hr-line mb-24"></div>
                                                        <div class="function-bar mb-16">
                                                            <div class="quantity quantity-wrap">
                                                                <div class="input-area quantity-wrap">
                                                                    <input class="decrement" type="button" value="-">
                                                                    <input type="text" name="quantity" value="1" maxlength="2" size="1"
                                                                           class="number">
                                                                    <input class="increment" type="button" value="+">
                                                                </div>
                                                            </div>
                                                            <div class="cart-btn w-100">
                                                                <button class="cus-btn-2 w-100 add-to-cart-btn"
                                                                        data-product-id="@product.Id"
                                                                        data-product-name="@product.Name"
                                                                        data-price="@product.Price"
                                                                        data-image="@product.ProductImage">
                                                                    Add to Cart
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="hr-line mb-24"></div>
                                                        <div class="d-flex align-items-center gap-16 mb-16">
                                                            <h6>Category:</h6>
                                                            <p class="light-gray">@product.CategoryId</p>
                                                        </div>
                                                        <div class="d-flex align-items-center gap-16 mb-16">
                                                            <h6>Tags:</h6>
                                                            <p class="light-gray">5G Compatible , <span>256GB Storage , </span> Student Phone</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- Recommended Product End -->
<!-- Brand Slider Start -->
<div class="brand-sec">
    <div class="brand-slider">
        <div class="brand-block">
            <img src="~/user/assets/media/icons/logo-1.png" alt="">
        </div>
        <div class="brand-block">
            <img src="~/user/assets/media/icons/logo-2.png" alt="">
        </div>
        <div class="brand-block">
            <img src="~/user/assets/media/icons/logo-3.png" alt="">
        </div>
        <div class="brand-block">
            <img src="~/user/assets/media/icons/logo-4.png" alt="">
        </div>
        <div class="brand-block">
            <img src="~/user/assets/media/icons/logo-5.png" alt="">
        </div>
        <div class="brand-block">
            <img src="~/user/assets/media/icons/logo-6.png" alt="">
        </div>

        <div class="brand-block">
            <img src="~/user/assets/media/icons/logo-7.png" alt="">
        </div>
        <div class="brand-block">
            <img src="~/user/assets/media/icons/xiaomi.png" alt="">
        </div>

    </div>
</div>
<!-- Brand Slider End -->

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            loadCart();

            $('.add-to-cart-btn').on('click', function (e) {
                e.preventDefault();

                var button = $(this);
                var productId = button.data('product-id');
                var productName = button.data('product-name');
                var price = button.data('price');
                var productImage = button.data('image');

                var cartItem = {
                    ProductId: productId,
                    ProductName: productName,
                    Price: price,
                    ProductImage: productImage,
                    Quantity: 1
                };

                console.log("Sending to server:", cartItem);

                $.ajax({
                    url: '/User/Product/AddCart',
                    type: 'POST',
                    data: JSON.stringify(cartItem),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (response) {
                        console.log("Response:", response);
                        if (response.success) {
                            Swal.fire({
                                icon: "success",
                                title: "Success!",
                                text: "The product has been added to your cart!",
                                timer: 1500,
                                showConfirmButton: false
                            }).then(() => {
                                loadCart(); // Cập nhật giỏ hàng
                            });
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "Failed!",
                                text: response.message || "Could not add the product to the cart!"
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("XHR:", xhr);
                        console.log("Status:", status);
                        console.log("Error:", error);
                        Swal.fire({
                            icon: "error",
                            title: "Error!",
                            text: xhr.responseJSON?.message || "An error occurred while adding to the cart."
                        });
                    }
                });
            });
        });

       function loadCart() {
    $.ajax({
        url: "http://localhost:5001/apigateway/Cart/1",
        type: "GET",
        dataType: "json",
        success: function (response) {
            let productList = $(".product-list");
            productList.empty();
            let totalPrice = 0;
            let totalItems = 0;

            response.items.forEach(item => {
                let productHtml = `
                    <li class="product-item mb-24">
                        <span class="item-image">
                            <img src="${item.productImage}" alt="Product Photo">
                        </span>
                        <div class="product-text">
                            <div class="prod-title mb-16">
                                <h6>${item.productName}</h6>
                                <a href="javascript:;" class="cancel" data-id="${item.productId}">
                                    <img src="/user/assets/media/images/cancel.png" alt="">
                                </a>
                            </div>
                            <div class="prod-desc">
                                <div>
                                    <p class="fw-500 mb-8">Số lượng: <span class="quantity-text">${item.quantity}</span></p>
                                    <p class="fw-500">Giá: ${item.price.toLocaleString("vi-VN", { style: "currency", currency: "VND" })}</p>
                                </div>
                            </div>  
                        </div>
                    </li>
                    <li class="hr-line mb-24"></li>
                `;
                productList.append(productHtml);
                totalPrice += item.price * item.quantity;
                totalItems += item.quantity;
            });

            $(".price-total span:last").text(`Tổng cộng: ${totalPrice.toLocaleString("vi-VN", { style: "currency", currency: "VND" })}`);
            $(".cart-button h6").text(`${totalPrice.toLocaleString("vi-VN", { style: "currency", currency: "VND" })}`);
            $("h6:contains('Shopping Cart')").text(`Shopping Cart (${totalItems})`);
        },
        error: function () {
            console.log("Lỗi khi gọi API giỏ hàng!");
        }
    });
}
    </script>
}

