@model TingStore.Client.Areas.User.Models.Products.ProductResponse;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="shop-detail py-40">
    <div class="container-fluid">
        <div class="detail-wrapper">
            <div class="row row-gap-3">
                <div class="col-xl-6">
                    <div class="product-image-container bg-white">
                        <div class="product-slider-asnav">
                            @if (Model.Images != null && Model.Images.Any())
                            {
                                foreach (var image in Model.Images)
                                {
                                    <div class="nav-image swiper-slide">
                                        <img src="@image.Url" alt="@Model.Name - Image" style="width:100px"/>
                                    </div>
                                }
                            }
                            else if (!string.IsNullOrEmpty(Model.ProductImage))
                            {
                                <div class="nav-image">
                                    <img src="@Model.ProductImage" alt="@Model.Name" style="width:100px" />
                                </div>
                            }
                            else
                            {
                                <div class="nav-image">
                                    <img src="/images/placeholder.jpg" alt="@Model.Name" style="width:100px" />
                                </div>
                            }
                        </div>
                        <div class="product-slider">
                            @if (Model.Images != null && Model.Images.Any())
                            {
                                foreach (var image in Model.Images)
                                {
                                    <div class="detail-image swiper-slide">
                                        <img src="@image.Url" alt="@Model.Name - Image" />
                                    </div>
                                }
                            }
                            else if (!string.IsNullOrEmpty(Model.ProductImage))
                            {
                                <div class="detail-image">
                                    <img src="@Model.ProductImage" alt="@Model.Name" />
                                </div>
                            }
                            else
                            {
                                <div class="detail-image">
                                    <img src="/images/placeholder.jpg" alt="@Model.Name" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="product-text-container bg-white br-20">
                        <h3 class="fw-700 mb-16">@Model.Name</h3>
                        <div class="d-flex align-items-center flex-wrap gap-16 mb-24">
                            <h5 class="color-sec">
                                ★★★★<span class="light-gray">★</span>&nbsp;&nbsp;<span class="text-16 fw-400 dark-black">(02 Reviews)</span>
                            </h5>
                            <div class="vr-line vr-line-2"></div>
                            <p class="light-gray">Brand: <span class="color-primary">Beast</span></p>
                        </div>
                        <div class="d-flex align-items-center gap-16 mb-24">
                            <p class="light-gray text-decoration-line-through">$450.00</p>
                            <h5>@Model.Price.ToString("#,##0 VND")</h5>
                            <span class="label white">-12%</span>
                        </div>
                        <p class="light-gray mb-24">
                            Lorem ipsum dolor sit amet consectetur. Purus nulla nec in ac malesuada et nisi ipsum.
                            Massa scelerisque commodo nam
                            elementum fermentum sed sit.
                        </p>
                        <div class="d-flex align-items-center gap-24 mb-24">
                            <h6>Size:</h6>
                            <div class="drop-container bg-lightest-gray p-8-12 br-5">
                                <div class="wrapper-dropdown black" id="dropdown02">
                                    <span class="selected-display" id="destination_02">256GB</span>
                                    <svg id="drp-arrow-2" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_7951_48322)">
                                            <g clip-path="url(#clip1_7951_48322)">
                                                <path d="M0.0742188 4.01306L8.07424 11.987L16.0742 4.01306H0.0742188Z"
                                                      fill="#141516" />
                                            </g>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_7951_48322">
                                                <rect width="16" height="16" fill="white" />
                                            </clipPath>
                                            <clipPath id="clip1_7951_48322">
                                                <rect width="16" height="16" fill="white"
                                                      transform="translate(0.0742188)" />
                                            </clipPath>
                                        </defs>
                                    </svg>

                                    <ul class="topbar-dropdown bg-lightest-gray">
                                        <li class="item dark-black">512GB</li>
                                        <li class="item dark-black">256GB</li>
                                        <li class="item dark-black">128GB</li>
                                        <li class="item dark-black">64GB</li>
                                        <li class="item dark-black">32GB</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="content-block mb-24">
                            <h6 class="mb-24">Color:</h6>
                            <div class="product-color">
                                <ul class="unstyled list">
                                    <li>
                                        <label for="muhRadio1"
                                               class="d-flex align-items-center h-21 light-black font-sec fw-500">
                                            <input type="radio" id="muhRadio1" name="muhRadio" class="radio-1"
                                                   value="muhRadio1">
                                        </label>
                                    </li>
                                    <li>
                                        <label for="muhRadio2"
                                               class="d-flex align-items-center h-21 light-black font-sec fw-500">
                                            <input type="radio" id="muhRadio2" name="muhRadio" class="radio-2"
                                                   value="muhRadio2">
                                        </label>
                                    </li>
                                    <li>
                                        <label for="muhRadio3"
                                               class="d-flex align-items-center h-21 light-black font-sec fw-500">
                                            <input type="radio" id="muhRadio3" name="muhRadio" class="radio-3"
                                                   value="muhRadio3">
                                        </label>
                                    </li>
                                    <li>
                                        <label for="muhRadio4"
                                               class="d-flex align-items-center h-21 light-black font-sec fw-500">
                                            <input type="radio" id="muhRadio4" name="muhRadio" class="radio-4"
                                                   value="muhRadio4">
                                        </label>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="hr-line mb-24"></div>
                        <div class="function-bar mb-16">
                            <div class="quantity quantity-wrap">
                                <div class="input-area quantity-wrap">
                                    <input class="decrement" type="button" value="-">
                                    <input type="text" name="quantity" value="1" maxlength="2" size="1"
                                           class="number">
                                    <input class="increment" type="button" value="+">
                                </div>
                            </div>
                            <div class="cart-btn w-100">
                                <a href="cart.html" class="cus-btn-2 w-100">ADD TO CART</a>
                            </div>
                            <div class="side-icons">
                                <ul class="list-unstyled m-0">
                                    <li>
                                        <a href="wishlist.html">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22"
                                                 viewBox="0 0 24 22" fill="none">
                                                <path d="M12 21.6648C11.6583 21.6648 11.3289 21.541 11.0722 21.3162C10.1026 20.4684 9.16789 19.6717 8.34318 18.9689L8.33897 18.9653C5.92107 16.9048 3.83312 15.1254 2.38037 13.3725C0.756407 11.4129 0 9.55493 0 7.52521C0 5.55316 0.676207 3.73383 1.90393 2.4021C3.1463 1.05463 4.851 0.3125 6.70458 0.3125C8.08995 0.3125 9.35869 0.750488 10.4754 1.6142C11.039 2.05017 11.5499 2.58374 12 3.20612C12.4502 2.58374 12.9609 2.05017 13.5247 1.6142C14.6415 0.750488 15.9102 0.3125 17.2956 0.3125C19.149 0.3125 20.8538 1.05463 22.0962 2.4021C23.3239 3.73383 24 5.55316 24 7.52521C24 9.55493 23.2437 11.4129 21.6198 13.3723C20.167 15.1254 18.0793 16.9046 15.6617 18.9649C14.8355 19.6688 13.8993 20.4667 12.9276 21.3165C12.6711 21.541 12.3415 21.6648 12 21.6648ZM6.70458 1.71838C5.24834 1.71838 3.91058 2.29956 2.93737 3.35498C1.9497 4.42633 1.4057 5.90729 1.4057 7.52521C1.4057 9.2323 2.04016 10.759 3.4627 12.4755C4.83764 14.1346 6.88274 15.8774 9.25065 17.8954L9.25505 17.899C10.0829 18.6046 11.0213 19.4044 11.998 20.2584C12.9805 19.4027 13.9204 18.6016 14.7498 17.895C17.1176 15.877 19.1625 14.1346 20.5374 12.4755C21.9598 10.759 22.5943 9.2323 22.5943 7.52521C22.5943 5.90729 22.0503 4.42633 21.0626 3.35498C20.0896 2.29956 18.7516 1.71838 17.2956 1.71838C16.2288 1.71838 15.2494 2.0575 14.3846 2.7262C13.6139 3.32239 13.077 4.07605 12.7622 4.60339C12.6004 4.87457 12.3155 5.03644 12 5.03644C11.6845 5.03644 11.3996 4.87457 11.2377 4.60339C10.9231 4.07605 10.3863 3.32239 9.6154 2.7262C8.75059 2.0575 7.77116 1.71838 6.70458 1.71838Z"
                                                      fill="#141516" />
                                            </svg>
                                        </a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <a href="checkout.html" class="cus-btn-3 w-100 mb-24">Buy Now</a>
                        <div class="hr-line mb-24"></div>
                        <div class="d-flex align-items-center gap-16 mb-16">
                            <h6>Category:</h6>
                            <p class="light-gray"> <span class="color-primary">Mobile Phone</span> , Android , Flagship</p>
                        </div>
                        <div class="d-flex align-items-center gap-16 mb-16">
                            <h6>Tags:</h6>
                            <p class="light-gray">5G Compatible , <span class="color-primary">256GB Storage , </span> Student Phone</p>
                        </div>
                        <div class="hr-line mb-24"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Detail End -->
<!-- Product Description Start -->
<section class="product-description pb-40">
    <div class="container-fluid">
        <div class="row">
            <div class="description-wrapper bg-white br-20">
                <nav class="mb-32">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link " id="nav-desc-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-desc" type="button" role="tab" aria-controls="nav-desc"
                                aria-selected="true">
                            Description
                        </button>

                        <button class="nav-link active" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info"
                                type="button" role="tab" aria-controls="nav-info" aria-selected="true">
                            Additional
                            Information
                        </button>

                        <button class="nav-link" id="nav-review-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-review" type="button" role="tab" aria-controls="nav-review"
                                aria-selected="false">
                            Reviews (02)
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade " id="nav-desc" role="tabpanel"
                         aria-labelledby="nav-desc-tab">
                        <h5 class="mb-24">Product Supreme Quality</h5>
                        <p class="light-gray mb-16">
                            @Model.Description
                        </p>
                        <div class="py-40">
                            <div class="row row-gap-4">
                                <div class="col-lg-6">
                                    <img src="assets/media/products/product-detail-1.png" alt="">
                                </div>
                                <div class="col-lg-6">
                                    <img src="assets/media/products/product-detail-2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade active show" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                        <h5 class="mb-32">Technical Specifications</h5>
                        <div class="specs-chart mb-32">
                            <h6 class="color-primary mb-16">Network</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <div class="brand-block">
                                        <p class="item fw-500">
                                            Brand
                                        </p>
                                        <p class="category light-gray">
                                            Apple
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-block">
                                        <p class="item fw-500">
                                            Model
                                        </p>
                                        <p class="category light-gray">
                                            13 Pro
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-block">
                                        <p class="item fw-500">
                                            Relaease Date
                                        </p>
                                        <p class="category light-gray">
                                            13-05-2020
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="specs-chart mb-32">
                            <h6 class="color-primary mb-16">Display</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <div class="brand-block">
                                        <p class="item fw-500">
                                            Type
                                        </p>
                                        <p class="category light-gray">
                                            AMOLED/LCD/IPS
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-block">
                                        <p class="item fw-500">
                                            Size
                                        </p>
                                        <p class="category light-gray">
                                            5.6 Inches
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-block">
                                        <p class="item fw-500">
                                            Resolution
                                        </p>
                                        <p class="category light-gray">
                                            1920 Pixels
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="specs-chart mb-32">
                            <h6 class="color-primary mb-16">Body</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <div class="brand-block">
                                        <p class="item fw-500">
                                            Dimensions
                                        </p>
                                        <p class="category light-gray">
                                            Height x Width x Depth mm
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-block">
                                        <p class="item fw-500">
                                            Weight

                                        </p>
                                        <p class="category light-gray">
                                            12.5 Grams
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-block">
                                        <p class="item fw-500">
                                            SIM
                                        </p>
                                        <p class="category light-gray">
                                            Dual SIM
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="specs-chart mb-32">
                            <h6 class="color-primary mb-16">Performance</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <div class="brand-block">
                                        <p class="item fw-500">
                                            OS
                                        </p>
                                        <p class="category light-gray">
                                            IOS
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-block">
                                        <p class="item fw-500">
                                            Chipset
                                        </p>
                                        <p class="category light-gray">
                                            6 Gen 1
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-block">
                                        <p class="item fw-500">
                                            Relaease Date
                                        </p>
                                        <p class="category light-gray">
                                            13-05-2020
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="specs-chart">
                            <h6 class="color-primary mb-16">Features</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <div class="brand-block">
                                        <p class="item fw-500">
                                            Water Resistance
                                        </p>
                                        <p class="category light-gray">
                                            Rating
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-block">
                                        <p class="item fw-500">
                                            Audio
                                        </p>
                                        <p class="category light-gray">
                                            Stereo/3.5mm Jack
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-block">
                                        <p class="item fw-500">
                                            Colors
                                        </p>
                                        <p class="category light-gray">
                                            Black
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="tab-pane fade show " id="nav-review" role="tabpanel"
                         aria-labelledby="nav-review-tab">
                        <div class="comments-sec mb-48">
                            <h5 class="mb-48">(02) Reviews For Mobile Phone</h5>
                            <div class="comment-box mb-24">
                                <img src="assets/media/users/user-4.png" alt="" class="br-5">
                                <div class="block">
                                    <div class="top-row mb-16">
                                        <div class="info">
                                            <h5 class="light-black">Ethan Clarke</h5>
                                        </div>
                                        <h5 class="color-sec">★★★★<span class="light-gray">★</span></h5>
                                    </div>
                                    <p class="light-gray">
                                        Lorem ipsum dolor sit amet consectetur. Pharetra luctus in
                                        dignissim amet.
                                        Dignissim adipiscing amet praesent nec libero ultrices ac ullamcorper. Enim
                                        mattis faucibus
                                        viverra integer vestibulum in proin. Imperdiet pellentesque nisl cursus arcu
                                        nulla massa pharetra.
                                        Tristique.
                                    </p>
                                </div>
                            </div>
                            <div class="hr-line mb-24"></div>
                            <div class="comment-box">
                                <img src="assets/media/users/user-5.png" alt="" class="br-5">
                                <div class="block">
                                    <div class="top-row mb-16">
                                        <div class="info">
                                            <h5 class="light-black">Sophia Reynolds</h5>
                                        </div>
                                        <h5 class="color-sec">★★★★<span class="light-gray">★</span></h5>
                                    </div>
                                    <p class="light-gray">
                                        Lorem ipsum dolor sit amet consectetur. Pharetra luctus in
                                        dignissim amet.
                                        Dignissim adipiscing amet praesent nec libero ultrices ac ullamcorper. Enim
                                        mattis faucibus
                                        viverra
                                        integer vestibulum in proin. Imperdiet pellentesque nisl cursus arcu nulla
                                        massa pharetra.
                                        Tristique.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="review-form">
                            <h5 class="fw-500 mb-8">Write a Review</h5>
                            <p class="light-gray mb-32">
                                Your email address will not be published. Required fields
                                are marked.
                            </p>

                            <p class="mb-16 fw-500">Your Review</p>
                            <form method="post" action="https://uiparadox.co.uk/templates/gadgetize/shop-detail.html" class="form-group contact-form">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="input-block mb-24">
                                            <textarea class="form-control" name="message" id="comment"
                                                      rows="4" placeholder="Write Your Review here..."></textarea>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-block mb-24">
                                            <input type="text" class="form-control" id="name" name="name"
                                                   required placeholder="Name Example">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                 viewBox="0 0 20 20" fill="none">
                                                <g clip-path="url(#clip0_7949_46233)">
                                                    <path d="M10 0.00292969C7.09223 0.00292969 4.72656 2.36859 4.72656 5.27637C4.72656 8.18414 7.09223 10.5498 10 10.5498C12.9078 10.5498 15.2734 8.18414 15.2734 5.27637C15.2734 2.36859 12.9078 0.00292969 10 0.00292969ZM10 9.37793C7.7384 9.37793 5.89844 7.53797 5.89844 5.27637C5.89844 3.01477 7.7384 1.1748 10 1.1748C12.2616 1.1748 14.1016 3.01477 14.1016 5.27637C14.1016 7.53797 12.2616 9.37793 10 9.37793Z"
                                                          fill="#141516" />
                                                    <path d="M16.5612 13.9949C15.1174 12.529 13.2035 11.7217 11.1719 11.7217H8.82812C6.79656 11.7217 4.88258 12.529 3.43883 13.9949C2.00215 15.4537 1.21094 17.3792 1.21094 19.417C1.21094 19.7406 1.47328 20.0029 1.79688 20.0029H18.2031C18.5267 20.0029 18.7891 19.7406 18.7891 19.417C18.7891 17.3792 17.9979 15.4537 16.5612 13.9949ZM2.40859 18.8311C2.70215 15.5074 5.46918 12.8936 8.82812 12.8936H11.1719C14.5308 12.8936 17.2979 15.5074 17.5914 18.8311H2.40859Z"
                                                          fill="#141516" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_7949_46233">
                                                        <rect width="20" height="20" fill="white"
                                                              transform="translate(0 0.00292969)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-block mb-24">
                                            <input type="email" class="form-control" id="mail" name="email"
                                                   required placeholder="Your Email">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                 viewBox="0 0 20 20" fill="none">
                                                <path d="M18.2422 2.97168H1.75781C0.786602 2.97168 0 3.76316 0 4.72949V15.2764C0 16.2484 0.792383 17.0342 1.75781 17.0342H18.2422C19.2053 17.0342 20 16.2518 20 15.2764V4.72949C20 3.76488 19.2165 2.97168 18.2422 2.97168ZM17.996 4.14355C17.6369 4.50078 11.4564 10.6488 11.243 10.861C10.9109 11.193 10.4695 11.3759 10 11.3759C9.53047 11.3759 9.08906 11.193 8.75594 10.8599C8.61242 10.7171 2.50012 4.63707 2.00398 4.14355H17.996ZM1.17188 15.0379V4.96875L6.23586 10.0061L1.17188 15.0379ZM2.00473 15.8623L7.06672 10.8325L7.9284 11.6896C8.48176 12.243 9.21746 12.5477 10 12.5477C10.7825 12.5477 11.5182 12.243 12.0705 11.6907L12.9333 10.8325L17.9953 15.8623H2.00473ZM18.8281 15.0379L13.7641 10.0061L18.8281 4.96875V15.0379Z"
                                                      fill="#141516" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="cus-btn-3 w-25">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- Product Description End -->
<!-- Recommended Product Start -->
<section class="recommended-product bg-lightest-gray pb-40">
    <div class="container-fluid">
        <div class="top-bar mb-16">
            <h5>Recommended Products</h5>
            <a href="shop-grid-sidebar-1.html" class="cus-btn-arrow">
                Show All
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 20 15" fill="none">
                    <path d="M13.3545 14.7476C13.3545 11.7476 16.1545 7.74756 19.3545 7.74756M19.3545 7.74756C17.5212 7.74756 13.3545 6.74756 13.3545 0.747559M19.3545 7.74756H0.354492"
                          stroke="#0C0C0D" stroke-width="2" />
                </svg>
            </a>
        </div>
        <div class="row row-gap-4">
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6">
                <div class="featured-product-card bg-white br-10">
                    <div class="image-box mb-16">
                        <span class="sale-label">-12%</span>
                        <a href="shop-detail.html"><img src="assets/media/products/product-1.png" class="product-image" alt=""></a>
                        <div class="side-icons">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="wishlist.html">
                                        <img src="assets/media/icons/heart.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#productQuickView">
                                        <img src="assets/media/icons/eye.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="zui-wrapper-button" data-bs-toggle="modal" data-bs-target="#comparepopup">
                                        <img src="assets/media/icons/compare.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-desc">
                        <h6 class="product-title mb-8"><a href="shop-detail.html">Elite Audio Gear</a></h6>
                        <div class="text mb-16">
                            <p class="light-gray">Lorem ipsum dolor sit amet consectetur. Id viverra cursus enim risus mattis urnanullam quis magna. Ligula maecenas integer diam risus rhoncus at. Viverra a consectetur ac lobortis.</p>
                        </div>
                        <div class="rating-star mb-16 bg-white">
                            <h5 class="color-sec mb-24">★★★★<span class="light-gray">★</span>&nbsp;&nbsp;<span class="text-16 fw-400 dark-black">(80)</span></h5>
                            <h6><span class="text-decoration-line-through light-gray"> $12.00</span>&nbsp;&nbsp;$10.00</h6>
                        </div>
                        <a href="cart.html" class="cus-btn-2 w-100">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recommended Product End -->
